.game--mode__button--container {
    position: fixed;
    left: 50%;
    top: 50%;
    height: max-content;
    transform: translate(-50%, -50%);
    bottom: 30px;
    padding: 15px;
    display: flex;
    gap: 15px;
    border-radius: var(--border-lg);
    flex-direction: column;

    background-color: var(--bg-color-container);
    border: 1px solid var(--white);
    backdrop-filter: blur(40px);

    transition: all var(--tr-duration);
}

.game--mode__title {
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    padding: 15px;
    user-select: none;
    text-shadow: 0 0 10px rgba(var(--white-n),0.6);

    animation: pulse__animation 4s infinite;
}

.game--mode__button {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: var(--border-md);
    text-align: center;
    height: 60px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    background-color: var(--bg-color-container);
    border: 1px solid var(--white);
    backdrop-filter: blur(3px);
    color: var(--white);

    transition: all var(--tr-duration);
    animation: show--animation var(--tr-duration);
}

.game--mode__button:hover {
    gap: 15px;
    box-shadow: 0 0 5px 2px rgba(var(--white-n), 0.5);
}

.game--mode__button:disabled {
    opacity: .5;
}

.game--mode__input {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: var(--border-md);
    width: 100%;
    height: 60px;
    display: flex;
    gap: 5px;
    color: var(--white);

    background-color: var(--bg-color-container);
    border: 1px solid var(--white);
    backdrop-filter: blur(3px);

    transition: all var(--tr-duration);
    animation: show--animation var(--tr-duration);
}

.game--mode__input::placeholder {
    color: rgba(var(--white-n), 0.5);
}

.game--mode__input:focus {
    border-color: var(--white);
    outline: none;
}

.button__container {
    display: flex;
    gap: 15px;
    width: 100%;
}

@keyframes pulse__animation {
    0%, 100% {
        text-shadow: 0 0 10px rgba(var(--white-n),0.6);
    }
    50% {
        text-shadow: 0 0 30px rgba(var(--white-n),1);
    }
}

@keyframes show--animation {
    from {
        transform: scale(0);
    }
}