.timer--container {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: var(--bacdrop-filter-md);
    background-color: rgba(var(--black-n), .5);
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    #timer {
        user-select: none;
        font-size: 200px;
        color: white;
        animation: timer__animation 5s;
    }
}

.meteor--enemy__container {
    position: fixed;
    top: 15dvh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    animation: show--scale__animation var(--tr-duration) forwards;
    user-select: none;

    img {
        height: 20px;
        transform: rotate(120deg);
        animation: meteor__idle 10s infinite;
    }
}

.meteor--enemy__description {
    display: flex;
    flex-direction: column;

    gap: 5px;

    background-color: var(--bg-color-container);
    backdrop-filter: var(--bacdrop-filter-md);
    color: var(--white);
    border: 1px solid var(--white);

    font-size: var(--font-md);
    padding: 15px;
    border-radius: var(--border-md);
}

.card--container {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &:has(.card--item:hover) .card--item:not(:hover) {
        opacity: .3;
        transform: scale(.9);
    }

    .card--item {
        padding: 15px;
        color: var(--white);
        gap: 5px;
        border: 1px solid var(--white);
        border-radius: var(--border-md);

        display: flex;
        flex-direction: column;

        justify-content: center;

        cursor: pointer;
        user-select: none;

        background-color: var(--bg-color-container);
        backdrop-filter: blur(3px);

        transition: all var(--tr-duration);
        animation: show--scale__animation var(--tr-duration);

        &:hover {
            .card--image {
                border-radius: 50%;
            }
        }

        &__disabled {
            opacity: .5;
            pointer-events: none;
            cursor: default;
        }

        .card--name {
            font-size: 20px;
            text-align: center;
        }

        .card--image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: var(--border-md);
            border: 1px solid transparent;
            transition: all var(--tr-duration);
        }
    }
}

.try--container {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    opacity: 0;
    background: transparent;

    pointer-events: none;
}

.try--container.try--success,
.try--container.try--fail {
    animation: try--container__animation 1s;
}

.try--container.try--success {
    background-color: var(--green);
}

.try--container.try--fail {
    background-color: var(--red);
}

.life--count__container {
    width: 200px;
    height: 20px;
    border: 1px solid var(--white);
    border-radius: var(--border-sm);

    position: fixed;
    top: 15px;
    left: 15px;

    background-color: var(--bg-color-container);
    backdrop-filter: var(--bacdrop-filter-md);

    overflow: hidden;

    &::before {
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        content: "";
        display: block;

        transition: width var(--tr-duration);
        animation: show--width__animation var(--tr-duration);
    }

    &.low::before {
        background-color: var(--red);
        width: 20%;
    }

    &.mid::before {
        background-color: var(--yellow);
        width: 50%;
    }

    &.full::before {
        background-color: var(--green);
        width: 100%;
    }
}

.total--count__wrapper {
    width: 100%;
    height: 100%;

    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    justify-content: center;
    align-items: center;

    background-color: rgba(var(--black-n), .5);
    backdrop-filter: var(--bacdrop-filter-md);

    .total--count__wrapper--button {
        padding: 15px 30px;

        color: var(--white);
        background: var(--bg-color-disable);
        border-radius: var(--border-md);

        text-decoration: none;
        text-align: center;

        transition: background-color var(--tr-duration);

        &:hover {
            background: var(--bg-color-container);
        }
    }
}

.total--count__container {
    width: 500px;
    height: 400px;
    border-radius: var(--border-lg);
    border: 1px solid var(--white);

    color: var(--white);

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 15px 30px;
    gap: 15px;

    background-color: var(--bg-color-container);
    backdrop-filter: var(--bacdrop-filter-md);

    h1 {
        font-size: var(--font-xxl);
        margin: 0;
    }

    ol {
        list-style: none;

        display: flex;
        flex-direction: column;

        gap: 15px;

        li {
            transition: opacity var(--tr-duration);
            width: max-content;
        }

        &:has(li:hover) li:not(:hover) {
            opacity: .3;
        }
    }

    .value {
        font-weight: bold;
        background-color: var(--bg-color-container);
        padding: 2px 10px;
        border-radius: var(--border-sm);
    }
}

@keyframes meteor__idle {
    0% { transform: rotate(120deg) scale(1) translateY(0) }
    25% { transform: rotate(122deg) scale(1.1) translateY(-10px) }
    50% { transform: rotate(118deg) scale(1.2) translateY(0) }
    75% { transform: rotate(121deg) scale(1.1) translateY(10px) }
    100% { transform: rotate(120deg) scale(1) translateY(0) }
}

@keyframes timer__animation {
    0% { color: var(--red) }
    33% { color: var(--yellow) }
    100% { color: var(--green) }
}

@keyframes try--container__animation {
    0%, 100% { opacity: 0 }
    50% { opacity: .2 }
}