:root {
    --white-n: 255, 255, 255;
    --white: rgb(var(--white-n));
    --black-n: 0, 0, 0;
    --black: rgb(var(--black-n));

    --red-n: 205, 92, 92;
    --green-n: 102, 225, 178;
    --orange-n: 255, 127, 80;
    --purple-n: 138, 43, 226;

    --red: rgb(var(--red-n));
    --grey: #bbb;
    --green: rgb(var(--green-n));
    --orange: rgb(var(--orange-n));
    --purple: rgb(var(--purple-n));
    --yellow: #c5c567;

    --primary-color-n: 68, 124, 215;
    --primary-color: rgb(var(--primary-color-n));
    --primary-hover: #284d9d;
    --primary-color-alpha: rgba(59, 130, 246, 0.2);

    --bg-color: rgba(var(--white-n), 0.5);
    --bg-color-hover: rgba(var(--white-n), 0.8);
    --bg-color-disable: rgba(var(--white-n), 0.1);
    --bg-color-container: rgba(var(--white-n), 0.2);

    --bacdrop-filter-sm: blur(4px);
    --bacdrop-filter-md: blur(12px);

    --border-sm: 8px;
    --border-md: calc(var(--border-sm) * 2);
    --border-lg: calc(var(--border-sm) * 3);

    --font-md: .9rem;
    --font-xl: 1.5rem;
    --font-xxl: 4rem;

    --tr-duration: .2s;

    --gap-sm: 15px;
    --gap: 30px;
    --padding: 15px;
}

* {
    box-sizing: border-box;
    font-family: "Google Sans Code", monospace;
    font-size: var(--font-md);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100vw;
}

button {
    user-select: none;
}

ol {
    margin: 0;
    padding: 0;
}