:root {
    --white-n: 255, 255, 255;
    --white: rgb(var(--white-n));
    --black-n: 0, 0, 0;
    --black: rgb(var(--black-n));

    --green-n: 1, 163, 1;
    --green: rgb(var(--green-n));

    --red: red;
    --yellow: yellow;

    --border-sm: 10px;
    --border-md: calc(var(--border-sm) * 2);
    --border-lg: calc(var(--border-sm) * 3);

    --bg-color: rgba(var(--white-n), 0.5);
    --bg-color-hover: rgba(var(--white-n), 0.8);
    --bg-color-disable: rgba(var(--white-n), 0.1);
    --bg-color-container: rgba(var(--white-n), 0.2);

    --bacdrop-filter-sm: blur(4px);
    --bacdrop-filter-md: blur(12px);

    --font-md: 16px;
    --font-lg: 40px;

    --tr-duration: .2s;
}

* {
    box-sizing: border-box;
    font-family: "Google Sans Code", monospace;
    font-size: var(--font-md);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

button {
    user-select: none;
}

ol {
    margin: 0;
    padding: 0;
}

.game--mode__page {
    width: 100%;
    height: 100dvh;
    background-image: url("/game-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}