:root {
    --white-n: 255, 255, 255;
    --white: rgb(var(--white-n));
    --black-n: 0, 0, 0;
    --black: rgb(var(--black-n));

    --border-sm: 10px;
    --border-md: calc(var(--border-sm) * 2);
    --border-lg: calc(var(--border-sm) * 3);

    --bg-color: rgba(var(--white-n), 0.5);
    --bg-color-hover: rgba(var(--white-n), 0.8);
    --bg-color-disable: rgba(var(--white-n), 0.1);
    --bg-color-container: rgba(var(--white-n), 0.2);

    --bacdrop-filter-sm: blur(4px);
    --bacdrop-filter-md: blur(12px);

    --font-md: .9rem;
    --tr-duration: .2s;

    --primary-color: #3b82f6;
    --primary-hover: #2563eb;
    --primary-color-alpha: rgba(59, 130, 246, 0.2);
    --error-color: #960018;
    --grey-border: #bbb;
}

* {
    box-sizing: border-box;
    font-family: "Google Sans Code", monospace;
    font-size: var(--font-md);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

button {
    user-select: none;
}